/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* common style  */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* header style  */
.banner {
    color: white;
    padding: 100px 200px;
    background-color: #2D25A0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;

}
.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner .text a, .shop a {
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px;
    color: white;
}
.banner img {
    width: 100%;
    transition: transform 2s;
}
.banner img:hover {
    transform: scale(1.5);
}

/* main style  */
.players {
    padding: 50px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player {
    padding: 15px;
    border: 2px solid whitesmoke;
}
.player img {
    width: 100%;
}
/* shop style  */
.shop {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2D25A0;
    margin-bottom: 50px;
    color: white;
}
.block-b {}

/* footer style */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img {
    width: 20%;
}
.social-icons {
    color: gray;
}

/* mobile display */
@media only screen and (max-width: 700px) {

    .banner {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .banner img {
        margin-top: 50px;
        transition: none;
        width: 100%;

    }
    .players {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }

}